<%- model_class = Log -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= form_tag logs_path, :method =>'get',:id=>"logs_search" do%>

  <p>
  	Aggregate By : <select>
  <option value="all">All</option>
  <option value="event">Events</option>
  <option value="category">Categories</option>
</select>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :id => nil %>
  </p>
<%end%>

<div id="logs"><%= render 'logs' %></div>




<%= link_to t('.new', :default => t("helpers.links.new")),
            new_log_path,
            :class => 'btn btn-primary' %>
