<%- model_class = Log -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


<script>

</script>

<script type="text/javascript" charset="utf-8">
    $(function() {
        new Highcharts.Chart({
            chart: {
                renderTo: "logs_chart",
                type:"bar"
            },
            title: {
                text: "Logs by Event"
            },
            xAxis: {
                title: {
                    text: 'Events'
                }            ,
                categories:[]
            },
            yAxis: {
                title: {
                    text: 'Time'
                }
            },
            tooltip: {
                formatter: function() {
                    return   this.series.name +':' + Highcharts.dateFormat("%B %e, %Y", this.x ) + ': ' +
                             Highcharts.numberFormat(this.y, 2) + 'hrs';
                }
            },

            series:[
                    <% @logs.each do |log| %>
                    {
                        name: "<%= log.event.ename %>",
                        bla: "<%= log.date %>",
                        data: [<%= log.hours %>]
                    },
                    <% end %>
                    ]



        });
    });
</script>
<div id="logs_chart" style="width:560px; height:300px;"></div>



<%= form_tag logs_path, :method =>'get',:id=>"logs_search" do%>

  <p>
  	Aggregate By : <select>
  <option value="all">All</option>
  <option value="event">Events</option>
  <option value="category">Categories</option>
</select>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :id => nil %>
  </p>
<%end%>


<div id="logs"><%= render 'logs' %></div>




<%= link_to t('.new', :default => t("helpers.links.new")),
            new_log_path,
            :class => 'btn btn-primary' %>
